html,body{
    margin:0;
    background-image: linear-gradient(45deg, rgb(139, 59, 210),rgb(47, 30, 152));
    background-size: cover;
}

@font-face {
    font-family: guruspals;
    src: url('../assets/fonts/Schoolwork-Regular.ttf');
}

a{
    text-decoration: none;
}

a.link{
    color: white;
}

.menu_bar{
    width: 100%;
    height: 5em;
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.right_menu{
    display: inline-flex;
    list-style: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 47%;
    font-size: 1.1rem;
}

.right_menu>li{
    margin-left: 1em;
}

li>a.home{
    color: coral;
}

li.subscription{
    color:rgb(189, 189, 189);
}

.left_menu{
    display: inline-flex;
    list-style: none;
    margin-left: 0;
}

.left_menu>li{
    font-family: guruspals ;
    font-size: 3rem;
    color:white;
}

li.mobile_view_menu{
    background-image: url('../assets/icons/042-menu.svg');
    background-repeat: none;
    height: 2em;
    width: 2em;
    margin-right: 0.6em;
    display: none;
}

/* mobile menu display was handled here */

.mobile_menu_list{
    background-color: rgb(44, 44, 44);;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.hide{
    display: none;
}

.show{
    display: flex;
}

.right_mobile_menu{
    list-style: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

/* media query for nav bar and its content */

@media screen and (max-width:360px) {

    .menu_bar{
        height: 2.5em;
        width: 100%;
    }

    .left_menu{
        display:flex;
        list-style: none;
        margin-left: 0;
    }

    .left_menu>li{
        font-size: 1.5rem;
    }

    .home,.subscription,.candidate,.guest,.admin{
        display: none;
    }

    .right_menu{
        margin-right: 5%;
    }

    .right_menu>li{
        margin-left: 0;
    }

    li.mobile_view_menu{
        display: block;
    }

    .right_mobile_menu>li{
        margin-bottom: 1em;
    }
    
}


.cell_holder{
    width: 60%;  
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

@media screen and (max-width:360px){
    .cell_holder{
        margin-left: 0;
        width: 100%;
    }
}

.cells{
    color: coral;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    margin-top: 0.5em;
    padding: 1em;
    border: gray;
    text-align: left;
}

@media screen and (max-width:360px){
    .dates{
        font-size: 0.7rem;
    }
}

.dates{
    color: black;
    background-color: whitesmoke;
}

.contacts{
    color:whitesmoke;
    background-color: rgb(37, 37, 37);
}

@media screen and (max-width:360px){
    .contacts{
        font-size: 0.7rem;
    }
}

.objectives{
    background-color: white;
}

@media screen and (max-width:360px){
    .objectives{
        height: 3%;
    }

    .objectives>.cells{
        font-size: 0.6rem;
    }
}

.auth{
    background-color: whitesmoke;
    width: 60%;  
    margin-left: 20%;
    margin-top: 0.5em;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 2px;
}

@media screen and (max-width:360px){

    .auth{
        width: 100%;
        margin-left: 0;
    }

}

.pin_label{
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pin_input{
    height: 2em;
    width: 20em;
    border: solid coral 1px;
}


.pin_submit{
    background-color: rgb(0, 153, 255);
    color: white;
    border: none;
    padding: 0.6em;
    box-sizing: border-box;
    width: 5em;
}

@media screen and (max-width:360px){

    .pin_input{
        width: 100%;
        margin-top: 2%;
    }

    .pin_submit{ 
        width: 100%;
        margin-top: 1%;
    }

}


